In [2]:
#AI建立一個function
#資料來源:scores = np.random.randint(50,101,size=(50, 5))
#欄位:["國文", "英文", "數學", "自然", "社會", "總分","平均","排名"]
#索引:["學生" + str(i) for i in range(1, 51)]
#建立一個DataFrame
import numpy as np
import pandas as pd

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores, columns=["國文", "英文", "數學", "自然", "社會"],
                      index=["學生" + str(i) for i in range(1, 51)])
    df.index.name = "學生"
    df.columns.name = "科目"
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df["總分"] = sum_values
    df["平均"] = mean_values
    rank_values = df["總分"].rank(method="min", ascending=False)
    df["排名"] = rank_values
    return df
scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df

科目     國文   英文   數學  自然   社會   總分    平均    排名
學生
學生1    61   97   51  87   81  377  75.4  23.0
學生2    80   76   59  73   50  338  67.6  44.0
學生3    91   91   60  63   87  392  78.4  16.0
學生4    90   58   79  66   72  365  73.0  31.0
學生5    68   90   55  88   93  394  78.8  15.0
學生6    97   92   98  60   62  409  81.8   4.0
學生7    78   56   94  74   90  392  78.4  16.0
學生8    90   88   61  71   80  390  78.0  18.0
學生9    87   65   51  88   84  375  75.0  26.0
學生10   98   81   59  60   98  396  79.2  12.0
學生11   69   51   92  60   60  332  66.4  46.0
學生12   93   75   62  79   54  363  72.6  32.0
學生13   55   85   82  77   55  354  70.8  37.0
學生14   57   56   75  57   60  305  61.0  49.0
學生15   77   67   78  66   89  377  75.4  23.0
學生16   94   93   97  54   65  403  80.6   7.0
學生17   59   55   84  95   69  362  72.4  33.0
學生18   90   62   70  98   59  379  75.8  21.0
學生19   82   68  100  61   64  375  75.0  26.0
學生20   95   50   82  67   93  387  77.4  19.0
學生21   53   78   96  77   57  361  72.2  34.0
學生22   66   88   80  77   86  397  79.4  11.0
學生23   52   59   55  64   84  314  62.8  47.0
學生24   74   86   88  75   82  405  81.0   6.0
學生25   88   59   60  86   73  366  73.2  30.0
學生26   72   97   84  65   81  399  79.8   9.0
學生27   93   95   51  59   70  368  73.6  29.0
學生28   64   81   74  85   75  379  75.8  21.0
學生29   94   59   86  50   87  376  75.2  25.0
學生30   59   92   56  70   63  340  68.0  43.0
學生31   89   59   52  55   80  335  67.0  45.0
學生32   81   51   72  58   52  314  62.8  47.0
學生33   82   77   81  60   55  355  71.0  36.0
學生34   84   99   63  50  100  396  79.2  12.0
學生35   68   72   86  94   89  409  81.8   4.0
學生36   58   57   73  63   97  348  69.6  39.0
學生37   82   90   56  69   51  348  69.6  39.0
學生38   95   86   60  58  100  399  79.8   9.0
學生39   53  100   83  52   56  344  68.8  42.0
學生40   96   96   96  82   64  434  86.8   2.0
學生41   72   59   79  65   72  347  69.4  41.0
學生42   90   72   69  81   59  371  74.2  28.0
學生43   85   84   88  90   98  445  89.0   1.0
學生44   59   89   71  72   63  354  70.8  37.0
學生45   73   68   92  65   59  357  71.4  35.0
學生46   87   54   78  80   84  383  76.6  20.0
學生47  100   99   68  56   99  422  84.4   3.0
學生48   83   75   70  98   75  401  80.2   8.0
學生49   60   69   66  54   51  300  60.0  50.0
學生50   96   68   56  82   93  395  79.0  14.0

In [12]:
#選擇欄位
df1 = df[["國文", "英文", "數學", "自然", "社會"]]

def apply_statistics(series):
    '''傳出(平均,最高,最低,中間值)'''

    return series.agg(('mean', 'max', 'min', 'median'))

df2 = df1.apply(apply_statistics, axis=0)
df2.index = ["平均", "最高", "最低", "中間值"]
df2

科目       國文      英文      數學     自然     社會
平均    78.38   75.48   73.56  70.72   74.4
最高   100.00  100.00  100.00  98.00  100.0
最低    52.00   50.00   51.00  50.00   50.0
中間值   82.00   75.50   73.50  68.00   74.0

In [11]:
s1 = df1["國文"].agg(['mean', 'max', 'min', 'median'])
s2 = df1["英文"].agg(['mean', 'max', 'min', 'median'])
s3 = df1["數學"].agg(['mean', 'max', 'min', 'median'])
s4 = df1["自然"].agg(['mean', 'max', 'min', 'median'])
s5 = df1["社會"].agg(['mean', 'max', 'min', 'median'])
states = pd.DataFrame([s1, s2, s3, s4, s5], index=["國文", "英文", "數學", "自然", "社會"])
states

     mean    max   min  median
國文  78.38  100.0  52.0    82.0
英文  75.48  100.0  50.0    75.5
數學  73.56  100.0  51.0    73.5
自然  70.72   98.0  50.0    68.0
社會  74.40  100.0  50.0    74.0